.best-seller {
    /* height: 100rem; */
    max-width: var(--breakpoint-xl);
    margin: 0 auto;
    /* margin-top: 2rem; */
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.best-seller__content--relative {
    position: relative;
}

.best-seller__video {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
}

.best-seller__detail {
    max-width: var(--breakpoint-md);
    opacity: 1;
    transition: all 0.3s ease;
}

.best-seller__detail:hover {
    opacity: 0.5;
}

.best-seller__heading {
    font-size: var(--text-sm);
    margin: 1.25rem 0;
}

@media (min-width: 480px) {
    .best-seller__video {
        aspect-ratio: 16 / 9;
    }
}