.footer {
    background-color: var(--base-gray-50);
}

.footer__wrapper {
    padding: 2rem 1.5rem;
    color: var(--base-gray-700);
}

@media (min-width: 768px) {
    .footer__wrapper {
        padding: 2rem 4rem;
    }
}

.footer__sitemaps {
    margin-bottom: 4rem;
    display: flex;
    /* gap: 1rem; */
    row-gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer__sitemap {
    flex: 1 1 120px;
}

.footer__sitemap-title {
    color: var(--base-black);
    margin-bottom: 2rem;
}

.footer__sitemap li {
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: var(--text-xs);
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--base-black);
}

.footer__newsletter {
    flex: 1 1 320px;
}

.footer__newsletter-title {
    font-size: var(--text-sm);
    color: var(--base-black);
    margin-bottom: 1rem;
}

.footer__newsletter .input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__newsletter-input {
    padding: 1rem 0.5rem;
    border: none;
    border-bottom: 1px solid var(--base-gray-700);
    background: transparent;
}

.footer__newsletter-input:focus {
    outline: none;
}