@font-face {
    font-family: 'HankenGrotesk';
    src: url('/assets/fonts/hanken-grotesk/HankenGrotesk-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-body);
    font-size: var(--text-sm);
    background-color: #f0f0f0;
}